<div class="overall-section gradient">

	<div class="header-section">

		<%= image_tag 'duppswat.png', :class => "headerimage" %>


	</div>

	<div class="main2-section">
		<div class="comm-words">
			<h1>to give our guests the best experience, our site is getting upgraded and currently under construction.</h1>

		</div>

		<div class="comm-words">
			dupp&swat provides a variety of services ranging from event planning to wardrobe styling, how may we be of assistance?

			Including beauty, wardrobe styling, photo & video shoots, venue rental, designer showroom, personal shopping, catering, closet analyis, graphic design, event planning and galleries.</br></br>

			Contact at info@duppandswat.com

		</div>
	</div>



	<div class="sectionstudio">
		<h1>THE STUDIO</h1>


		<div class="info-section">
		dupp&swat is located in NoDa, Charlotte’s arts district, and houses retail/showroom selections, a full-service salon and art gallery. Additionally, this colorful studio is used for a host of happenings as it morphs into event space, as well.
		</div>

		<div class="studio-info">
		<div class="subheader-section2">
		Store Hours:
		</div><div class="clear"></div>
		<ul>
		<li>Mon: Closed</li>
		<li>Tue: 11am - 7pm</li>
		<li>Wed: 11am - 7pm</li>
		<li>Thu: 11am - 7pm</li>
		<li>Fri: 11am - 7pm</li>
		<li>Sat: 11am - 7pm</li>
		<li>Sun: 1pm - 6pm</li>
		<li></br>(Open Longer, If Having An Event)</li>
		</ul>
		<div class="subheader-section2">
		Location:
		</div><div class="clear"></div>
		<div class="location-address">2424 N Davidson St, Suite 112B</br>Charlotte, North Carolina 28205</br></br>Contact to rent venue:</br> info@duppandswat.com</br>980.224.2128</div>
		</div>

		<div class="studio-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3258.6072794762226!2d-80.812057!3d35.241144999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a075a7b30c77%3A0x212f809f0dec4aee!2s2424+N+Davidson+St+%23112b!5e0!3m2!1sen!2sus!4v1399349280517" width="100%" height="400px" frameborder="0" style="border:0"></iframe>
		</div>

		<div class="photostudio-box">
			<%= image_tag 'studio1.jpg', :class => "studioimage" %>
			<%= image_tag 'studio2.jpg', :class => "studioimage" %>
			<%= image_tag 'studio3.jpg', :class => "studioimage" %>
			<%= image_tag 'studio4.jpg', :class => "studioimage" %>
			<%= image_tag 'studio5.jpg', :class => "studioimage" %>
			<%= image_tag 'studio6.jpg', :class => "studioimage" %>
			<%= image_tag 'studio7.jpg', :class => "studioimage" %>
			<%= image_tag 'studio8.jpg', :class => "studioimage" %>
			<%= image_tag 'studio9.jpg', :class => "studioimage" %>
			<%= image_tag 'studio10.jpg', :class => "studioimage" %>
			<%= image_tag 'studio11.jpg', :class => "studioimage" %>
		</div>

	</div>
	<div class="sectioncalendar">
		<h1>Happening Now</h1>
		<div class="calendar-info">
			dupp&swat, a playbox of sorts, is the host venue for Charlotte’s most creative and entertaining events. Complete with a quirky, feel-good, yet intimate setting, this studio transforms, effortlessly, for everything from <strong>A</strong>rt exhibitions to <strong>Z</strong>en-filled yoga classes. Swing by the NoDa studio for an upcoming event and connect with the Queen City’s creative culture.
		</br>
			Venue rental: info@duppandswat.com
		</div>
		<div class="calendar-box">
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=duppandswat%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>

		</div>
	</div>
		<div class="social-box3">
			<ul>
			<li><a href="http://www.duppandswat.tumblr.com/" target="_blank"><div id="ds-tumblr"></div></a></li>
			<li><a href="https://www.facebook.com/DuppSwat" target="_blank"><div id="ds-facebook"></div></a></li>
			<li><a href="https://twitter.com/duppANDswat" target="_blank"><div id="ds-twitter"></div></a></li>
			<li><a href="http://instagram.com/duppandswat#" target="_blank"><div id="ds-instagram"></div></a></li>
			<li><a href="https://www.youtube.com/user/duppandswat" target="_blank"><div id="ds-youtube"></div></a></li>
			</ul>
		</div>

		<div class="insta-box">
			<!-- SnapWidget -->
			<iframe src="http://snapwidget.com/sc/?u=ZHVwcGFuZHN3YXR8aW58MjAwfDN8M3x8bm98NXxub25lfHx5ZXM=&v=18614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:600px; height:200px"></iframe>
		</div>
	</div>



	

</div>